# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

[constants.js]
indent_style = tab
indent_size = 4

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js,jsx}]
charset = utf-8
indent_style = space
indent_size = 4

# Matches the exact file .travis.yml
[.travis.yml]
indent_style = space
indent_size = 2

[package.json]
indent_style = space
indent_size = 1
